.crafting-area {
    display: grid;
    position: relative;
    width: 50%;
    aspect-ratio: 1 / 1;
}

.back {
    display: grid;
    grid-area: 1 / 1;
    width: 100%;
    z-index: 1;
    object-fit: contain;
}

.front {
    display: grid;
    grid-area: 1 / 1;
    z-index: 2;

    /* Creates 3 equal columns and rows that scale with the container */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    width: 47%;
    height: 45%;

    padding-top: 3%;
    padding-left: 1.5%;

    box-sizing: border-box;
    gap: 0 0;
}

.slot {
    display: flex;
    align-items: center;
    justify-content: center;
}

.crafting-item {
    width: 80%;
    height: auto;
}