body {
    background-color: #121212;
}

.main-container {
    border-radius: 15px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    background-color: #212121;
    color: #F5F5F5;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 40px
}

.top-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px; /* Adds the space between the right image and left container */
}

.content-left {
    flex: 1;
    max-width: 600px;
}

.img-container {
    display: block;
    flex-shrink: 0;
}

.main-image {
    display: block;
    border-radius: 15px;
    background-color: #454545;
    max-width: 400px;
    width: 100%;
    height: auto;
}

.video-container {
    display: flex;
    justify-content: center;
    width: 100%;
}