.recommendation-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.recommendation-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    box-shadow: inset 0 0 0.625rem #0a0f1a;

    background-color: #1f1f2e;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
}

.recommendation-img {
    display: block;
    margin: auto;

    width: 50%;
}

#search {
    background-color: #1f1f2e;
    color: #F5F5F5;
    border-color: #F5F5F5;
    width: 50%;
}

#suggestion-list {
    top: 100%; /* Puts it directly below the input */
    left: 0;
    margin: 0;
    padding: 0;
    background-color: #1f1f2e;
    border: 1px solid #0a0f1a;
    z-index: 1000; /* Ensures it's on top */
    width: 50%;
    display: none; /* Hidden by default */
    list-style: none;
}

.suggestion {
    padding: 0.5em 1em;
    border-bottom: 1px solid #0a0f1a;
}
.suggestion:last-child {
    border: none;
}
.suggestion:hover {
    background: #73A5C6;
}