.search-results {
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.result-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    flex: 1;

    outline: 1px solid #3c2a68;

    background-color: #202020;
    border-radius: 1rem;
    padding: 1rem;
    max-width: 50%;
    width: 50%;
}

.result-img {
    width: 10rem;
}

.result-title {
    display: block;
    text-align: center;
    font-size: 1.5rem;
}