.recommendation-container {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.recommendation-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    outline: 1px solid #3c2a68;

    flex: 0 0 calc(33.333% - 14px);

    background-color: #202020;
    padding: 1rem;
    font-size: 1.5rem;
    box-sizing: border-box;
}

.recommendation-img {
    display: block;
    margin: auto;

    width: 50%;
}

.search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#search {
    background-color: #303030;
    color: #F5F5F5;
    border-color: #F5F5F5;
    width: 50%;

    border-radius: 1rem;
    padding: 0.5rem;
}